<mat-toolbar color="primary">
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <a routerLink="/">
      <button mat-menu-item>
        <mat-icon mat-flat-button color="primary">home</mat-icon>Home
      </button>
    </a>
    <a routerLink="/">
      <button mat-menu-item>
        <mat-icon mat-flat-button color="primary">quiz</mat-icon>Question Bank
      </button>
    </a>
  </mat-menu>
  <h2>Web App <mat-icon>cloud</mat-icon></h2>
</mat-toolbar>
